.play-zone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}


.display-spot {
    position: relative;

    width: 100%;
    height: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-spot {
    width: 100%;
    height: 20%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/*-------------------*/
/*  Display Spot     */
/*-------------------*/

.hide-img {
    filter: contrast(0%) grayscale(100%) brightness(0%);
    pointer-events: none
}
.poke-display {
    display : flex;
    flex-direction : column;
    align-items : center;
    justify-content : center;
    height: 50%;
}

.poke-img {
    position: relative;
    height: 50%;
    width: auto;
    transition: opacity 2s;
}


.background-img {
    position: absolute;
    height: 100%;
    width: auto;
    z-index: -1;
    
}

.rotate {
    animation: rotation 20s infinite linear;
    transform-origin: center center;
}

@keyframes rotation {
    0% {
      transform: rotate(0deg) scale(1);
    }
    25% {
        transform: rotate(90deg) scale(1.1);
    }
    50% {
        transform: rotate(180deg) scale(1.2);
    }
    75% {
        transform: rotate(270deg) scale(1.1);
    }
    100% {
      transform: rotate(359deg) scale(1);
    }
}



/*-------------------*/
/*  Input Spot       */
/*-------------------*/

.guess-input {
    width: 30%;
    text-align : center;
    border-radius: 8px;
    background-color: rgba(0,0,0,0.2);
    color: white;
    border: 2px solid white;
    outline: white;
    font-size: 1.5em;
}

.skip-button {
    padding: 2%;
    color: white;
    background-color: transparent;
    border: none;
    border-radius: 16px;
    outline: none;
    cursor: pointer;
    font-size: 1em;
}


/*-------------------*/


@media (max-width: 1024px) {
    .guess-input {
        width: 98%;
    }
  }