.play-zone {
    display : flex;
    flex-direction : column;
    position: relative;
    align-items : center;
    justify-content : center;
    height: 80vh;
    width: 100%;
}

.guess-input {
    text-align : center;
    border-radius: 16px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    outline: white;
}

.input-spot {
    height: 10%;
    width : 100%;
    display : flex;
    flex-direction : column;
    align-items : center;
    justify-content : center;

}



.hide-img {
    filter: contrast(0%) grayscale(100%) brightness(0%);
}
.poke-display {
    display : flex;
    flex-direction : column;
    align-items : center;
    justify-content : center;
    height: 80%;
}

.poke-img {
    position: relative;
    height: 70%;
    width: auto;
    transition: opacity 2s;
}

.background-img {
    position: absolute;
    height: 80%;
    width: auto;
    z-index: -1;
    
}

.rotate {
    animation: rotation 20s infinite linear;
    transform-origin: center center;
}

@keyframes rotation {
    0% {
      transform: rotate(0deg) scale(1);
    }
    25% {
        transform: rotate(90deg) scale(1.1);
    }
    50% {
        transform: rotate(180deg) scale(1.2);
    }
    75% {
        transform: rotate(270deg) scale(1.1);
    }
    100% {
      transform: rotate(359deg) scale(1);
    }
}

.countdown {
    color: white;
}