.header {
    text-align: center;
    color: white;
    position: relative;
    
    justify-content: center;
    height: 100%;
    
}

.image-title {
    width: 50%;
}

@media (max-width: 1024px) {
    .image-title {
        width: 80%;
    }
  }