.text-desc {

}

.footer {
    display: flex;
    /*align text to right*/
    justify-content: flex-end;
    padding-right: 40px;
    text-align: center;
    color: white;
}

.link-github {
    color: white;
    outline: none;
}
