.main-layout {
  min-height: 99vh;
  min-height: 99dvh;

  display: grid;
  grid-template-rows: 0.05fr 1fr 0.25fr;
  
}

.main-content {
  display: flex;
  flex-direction: row;
  max-height: 1fr;
}

.footer-content {
}

.header-content {
}