

.main-layout {
  display: grid;
    
    grid-gap: 10px;
    padding: 10px;

    grid-template-columns: 0.2fr 0.8fr 0.2fr;
    grid-template-rows: auto 1fr auto;

    grid-template-areas:
        "header header header"
        "scoreboard play-area settings"
        "footer footer footer";
    min-height: 96dvh;
}

/* .main-layout > div {
  border: solid slateblue;
} */

.cell-settings {
  grid-area: settings;
}

.cell-play-area {
  grid-area: play-area;
}

.cell-scoreboard {
  grid-area: scoreboard;
}

.cell-header {
  grid-area: header;
}

.cell-footer {
  grid-area: footer;
}


@media (max-width: 1024px) {
  .main-layout {
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr auto;
      grid-template-areas:
          "header"
          "scoreboard"
          "play-area"
          "settings"
          "footer";
      overflow: hidden;
  }   

}