body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: radial-gradient(circle, rgba(247,90,18,1) 15%, rgba(255,21,0,1) 90%);
  /* background: repeating-radial-gradient(
      circle,
      rgba(247,90,18,1) 0px,
      rgba(247,90,18,1) 30px,
      rgba(255,21,0,1) 30px,
      rgba(255,21,0,1) 60px
  ); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
