.settings-container  {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100%;

}

.settings-title {
    color: white;
}

.button-container {
    height: 50%;

    display: grid;
    grid-template-columns: repeat(3,1fr);
    
    gap: 10px;
    padding: 10px;
}

.button-settings {
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
    color: white;
    font-size: 15px;
    height: 100%;
    width: 100%;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    transition: 0.2s;
}

.button-settings:active {
    transform: scale(0.95);
    background-color: rgba(0, 0, 0, 0.06);
}

.settings-subtitle {
    color: white;
    font-size: 20px;
    margin-top: 20px;
}

.active {
    background-color: rgba(0, 0, 0, 0.06);
    border: solid white;
}

@media (max-width: 1024px) {

}



