.settings  {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100%;
}

.settings-title {
    color: white;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
    gap: 10px;
    padding: 10px;
}

.button-settings {
    background-color: black;
    border: none;
    color: white;
    font-size: 15px;
    height: 100%;
    width: 100%;

    transition: 0.2s;
}



.button-settings:active {
    transform: scale(0.95);
}

.settings-subtitle {
    color: white;
    font-size: 20px;
    margin-top: 20px;
}

.active {
    background-color: grey;
}